html {
	background-color: #104d00;
	height:100%;

}
body {
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
}

#wrapper {
	position:relative;
	height:100%;
	margin:0 auto;
	background: #104d00 url(/ui/images/sbg.jpg) 50% 0 repeat-y;
}

.table {
	background-color:#fff;
}

#buttons .btn {
	margin:10px;
}

#topRow {
	height:160px;
	margin-top:10px;
}

.block {
	height:14px;
	width:20px;
	margin:5px;
	float:left;
}

#sploder {
	background: #fff url(/ui/images/sploder-bg.png) repeat-y top center;
}
#sploder g path {
	fill-opacity: 0.5;
}
.sploder {
	position:relative;
}

.sploder .content {
	position:absolute;
}

.sploder #stats {
	top:150px;
	left:80px;
	height:300px;
	width:300px;
	margin:0px auto;
	color:black;
}

.sploder #dispTimer {
	top:275px;
	left:80px;
	height:100px;
	width:300px;
	margin:0px auto;
	color:black;
	font-size:32px;
}

.sploder #pot {
	font-size:35px;
}

#address {
	margin-top:30px;
	font-size:20px;
	font-weight:bold;
}

#history table {
	height:410px;
	overflow:auto;
}

#odds table {
	height:470px;
	overflow:auto;
}
#odds table tbody tr td {
	text-align:center;
	font-size:12px;
}
#chatWrapper {
	margin-top:30px;
}
#chatInput {
	background-color:#fff;
	padding:10px;
	border:3px solid #ddd;
}